@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body::-webkit-scrollbar {
  display: none;
}

.q-page {
  position: absolute;
  min-height: auto !important;
}

.form-title {
  color: aliceblue;
  padding-top: 4px;
  padding-left: 4px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'Quicksand';
}
